# python
__pycache__/
*.py[cod]
Pipfile.lock
environment.yml

# workspace
.DS_Store
.vscode

# coverage
htmlcov/
.coverage
.coverage.*
.cache
*.cover
*.py,cover
.pytest_cache/

# config
conf/nut.conf
conf/nut.conf.save
conf/blacklist.txt
conf/blacklist.*.txt

# metadata
cache/
titledb/

# data
titles/
_NSPOUT/
*.nsp
*.nsz
*.xci
*.xcz

keys.txt
prod.keys
gdrive.token
token.pickle
credentials.json
file.verification.txt
nut.lock
nut2.lock
*.bin
*.token
*.pem
