__pycache__
_CONTROLOUT
_NSPOUT
_TEMP
titles
aria2c
aria2c.exe
ca-certificates.crt
CDNSPconfig.json
Certificate.cert
files.txt
hactool.exe
hactool_linux
hactool_mac
keys.txt
libmbedcrypto.dll
libmbedtls.dll
libmbedx509.dll
nut.json
pfx_to_pem.py
ShopN.pem
nx_tls_client_cert.pem
titles.txt
titlekeys.txt
Ticket.tik
titles.txt