__pycache__/
*.py[cod]

.DS_Store

.vscode
htmlcov
.coverage

conf/nut.conf
conf/user.conf
conf/files.json
conf/credentials.json

cache/
titles/
titledb/

gdrive.token
token.pickle
credentials.json
keys.txt

*.nsz
*.nsp
*.xci
*.xcz
*.nsz
