requests>=2.24.0,<2.25.0
tqdm>=4.49.0,<4.50.0
colorama>=0.4.3,<0.5.0; platform_system == "Windows"
beautifulsoup4>=4.9.1,<4.5.0
urllib3>=1.25.10,<1.26.0
pyusb>=1.1.0,<1.2.0
pyqt5>=5.15.1,<5.16.0; platform_system == "Windows"
google-api-python-client>=1.12.1,<1.13.0
google-auth-oauthlib>=0.4.1,<0.5.0
