requests~=2.26.0
tqdm~=4.62.3
colorama~=0.4.4
beautifulsoup4~=4.10.0
urllib3~=1.26.7
pyusb~=1.2.1
pyqt5~=5.15.4
google-api-python-client~=1.12.8
google-auth-oauthlib~=0.4.6
pycryptodome~=3.10.4
pycryptoplus~=0.0.1
pyopenssl~=21.0.0
Flask~=1.1.4
Pillow~=8.3.2
zstandard~=0.16.0
future~=0.18.2
asn1~=2.4.1
filelock~=3.2.0
Unidecode~=1.3.2
pycurl~=7.44.1; sys_platform != 'win32'
qt-range-slider~=0.2.7
watchdog~=2.1.6
certifi>=2021.5.30
humanize~=3.11
