[
	{
		"title": "SD",
		"path": "sdmc:/"
	},
	{
		"title": "Games",
		"url": "nut://192.168.254.11:9000/?update=0&dlc=0",
		"user": "guest",
		"password": "guest"
	},
	{
		"title": "Premium Games",
		"url": "nut://192.168.254.11:9000/?update=0&dlc=0&publisher=Nintendo&publisher=Ubisoft&publisher=Bethesda+Softworks&publisher=Capcom&publisher=Activision&publisher=NIS+America",
		"user": "guest",
		"password": "guest"
	},
	{
		"title": "DLC",
		"url": "nut://192.168.254.11:9000/?update=0&dlc=1",
		"user": "guest",
		"password": "guest"
	},
	{
		"title": "Updates",
		"url": "nut://192.168.254.11:9000/?update=1&dlc=0",
		"user": "guest",
		"password": "guest"
	},
	{
		"title": "Asian",
		"url": "nut://192.168.254.11:9000/?region=JP&region=KR",
		"user": "guest",
		"password": "guest"
	}
]