[
	{
		"title": "SD",
		"path": "sdmc:/"
	},
	{
		"title": "USB Games",
		"url": "usb://?update=0&dlc=0"
	},
	{
		"title": "USB DLC",
		"url": "usb://?update=0&dlc=1"
	},
	{
		"title": "USB Updates",
		"url": "usb://?update=1&dlc=0"
	}
]