body {
	overflow-y: scroll;
}

figure {
	cursor: pointer;
}

#logo {
	height: 2em;
	display: inline-block;
	padding: 0 1em 0 0;
	vertical-align: middle;
}

.gear {
	background: url(/images/gear.png);
	background-size: cover;
	height: 2em;
	width: 2em;
	text-indent: -9999px;
	display: inline-block;
	border: 0;
	position: relative;
	top: 0.25em;
	margin-right: 1em;
	vertical-align: middle;
}

.queue {
	background: url(/images/queue.png);
	background-size: cover;
	height: 2em;
	width: 2em;
	text-indent: -9999px;
	display: inline-block;
	border: 0;
	position: relative;
	top: 0.25em;
	margin-right: 1em;
	vertical-align: middle;
}

.left .update {
	vertical-align: middle;
}

#titles > header {
	font-size: 10px;
}

#titles>  header > ul {
	display: flex;
	list-style-type: none;
}
#titles > header > ul > li {
	display: flex;
	padding: 1em 0;
	display: inline-block;
}
.center {
	flex-grow: 1;
}

.right {
}

#search {
	position: relative;
	top: 0.25em;
	font-size: 1.25em;
	margin-right: 1em;
	height: 1em;
}

#logo img {
	height: 100%;
}

#titles md-grid-tile {
	background-size: cover;
}

	#titles md-grid-tile md-icon {
		padding-bottom: 32px;
	}

	#titles md-grid-tile md-grid-tile-footer {
		background: rgba(0, 0, 0, 0.68);
		height: 36px;
	}

#titles md-grid-tile-footer figcaption {
	width: 100%;
}

	#titles md-grid-tile-footer figcaption h3 {
		margin: 0;
		font-weight: 700;
		width: 100%;
		text-align: center;
	}

#regions {
	display: inline-block;
}

#regions > li {
	display: inline-block;
	margin: 0;
	padding: 0 1em 0 0;
}


#regions input {
	display: none;
}

#regions label {
	display: block;
	width: 2em;
	height: 2em;
	background-size: cover;

	webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

.US label {
	background-image: url(/images/flags/US.png);
	text-indent: -9999px;
}

.GB label {
	background-image: url(/images/flags/GB.png);
	text-indent: -9999px;
}

.JP label {
	background-image: url(/images/flags/JP.png);
	text-indent: -9999px;
}

.CH label {
	background-image: url(/images/flags/CH.png);
	text-indent: -9999px;
}

.AU label {
	background-image: url(/images/flags/AU.png);
	text-indent: -9999px;
}

.ES label {
	background-image: url(/images/flags/ES.png);
	text-indent: -9999px;
}

.FR label {
	background-image: url(/images/flags/FR.png);
	text-indent: -9999px;
}

.DE label {
	background-image: url(/images/flags/DE.png);
	text-indent: -9999px;
}

.TW label {
	background-image: url(/images/flags/TW.png);
	text-indent: -9999px;
}

.KR label {
	background-image: url(/images/flags/KR.png);
	text-indent: -9999px;
}

.GR label {
	background-image: url(/images/flags/GR.png);
	text-indent: -9999px;
}

#regions li.AS, #regions li.rgn_ {
	display: none;
}

#regions input[type=checkbox]:checked + label {
	webkit-filter: none;
	filter: none;
}

#game .description {
	background: rgba(255,255,255,0.9);
	overflow-y: auto;
	padding: 2em 0;
	box-shadow: inset 2px 2px 20px rgba(0,0,0,0.5);
	flex: 1;
}

#game .description pre {
	padding: 0 2em;
}

#game .container {
	position: absolute;
	top: 0;
	right: 50%;
	bottom: 0;
	left: 0;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

#game .container .title {
	text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5em;
    display: inline-block;
    padding: 0 0.25em 0 0.25em;
    border-bottom: 3px solid #f00;
    margin-bottom: 0.25em;
}

#game #screenshots {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 50%;
	width: 50%;
}

#game #screenshots ul.viewer {
	overflow: hidden;
	position: relative;
}

#game #screenshots ul.viewer li {
	margin: 0;
	position: absolute;
	top: 0;
}

#game #screenshots ul.viewer li:first-child {
	position: relative;
	display: block;
}

#game #screenshots ul.viewer li:target {
	z-index: 100;
	//display: block;
}

#game #screenshots ul.viewer li:not(:target) {
	//display: none;
}


#game #screenshots ul.viewer, #game #screenshots ul.viewer li, #game #screenshots ul.viewer img {
	width: 100%;
	display: block;
}

#game #screenshots ul.thumb {
	display: table;
}

#game #screenshots ul.thumb li {
	font-size: 1em;
	display: table-cell;
	border: 2px solid #fff;
}

#game #screenshots ul.thumb li img {
	width: 100%;
	max-width: 9em;
	display: block;
}

#popup {
	display: none;
	background: #fff;
	position: fixed;
	left: 16%;
	right: 16%;
	top: 16%;
	bottom: 16%;
	overflow: hidden;
}

#popup #close {
	position: absolute;
	top: 0;
	right: 0;
	height: 2em;
	width: 2em;
	background: url(/images/close.png);
	background-size: cover;
	border: 0;
	text-indent: -9999px;
	margin: 0.5em;
}

#game header {
	box-shadow:2px 2px 25px #000000;
	background: rgba(0,0,0,0.7);
	display: flex;
}

#game header a.download {
	background-image: url(/images/download_white.png);
	display: block;
	position: absolute;
	right: 0.5em;
	top: 0.5em;
	font-size: 2em;
}

#game header a.update {
	background-image: url(/images/update_white.png);
	display: block;
	position: absolute;
	right: 1.75em;
	top: 0.5em;
	font-size: 2em;
}

#game header ul {
	list-style-type: none;
	display: inline-block;
	color: #fff;
	flex: 1;
	padding: 1em 2em 1em 0;
}

#game header li {
	font-size: 10px;
}

#game header li label {
	display: inline-block;
	width: 7em;
}

a.download {
	text-indent: -9999px;
	background: url(/images/download.png) no-repeat;
	background-size: cover;
	display: inline-block;
	width: 1em;
	height: 1em;
}

a.update, button.update {
	text-indent: -9999px;
	background: url(/images/update.png) no-repeat;
	background-size: cover;
	display: inline-block;
	width: 1em;
	height: 1em;
	border: 0;
}

#dlc {
	//list-style-type: none;
	//position: absolute;
	//left: 0;
	//right: 0;
	//bottom: 0;
	//top: 5.56em;
	//overflow-y: scroll;
	//bottom: 54%;
	//background: rgba(255,255,255,0.7);
}

#dlc table {
	border-collapse: collapse;
}

#dlc tr td {
	padding: 1em;
}

#dlc tr:nth-child(odd) {
	background: rgba(0,0,0,0.1);

}

#sorts {
	width: 100%;
	text-align: center;
}

#sorts li {
	display: inline-block;
}

#sorts li a {
	cursor: pointer;
}

.boxart {
	display: inline-block;
	margin: 0.5em;
}

.boxart img {
	width: 5em;
	display: block;
}

#popup > div {
	background-size: cover;
	height: 100%;
}

#popup h3 {
	width: auto;
	position: absolute;
	left: 0;
	top: 0;
	margin: 0 0 0 -1em;
	padding: 1em 1em 1em 2em;
	-webkit-transform: skew(-20deg);
	-moz-transform: skew(-20deg);
	-o-transform: skew(-20deg);
	background: rgba(0, 0, 0, 0.7);
	color: #fff;
	font-weight: bold;
	font-size: 1.4em;
}

#popup h3 label {
	display: inline-block;
	background-size: cover;
	vertical-align: middle;
	height: 2em;
	width: 2em;
	margin-left: 0.5em;
	-webkit-transform: skew(20deg);
	-moz-transform: skew(20deg);
	-o-transform: skew(20deg);
}

#popup .content {
	padding: 1em;
	position: absolute;
	top: 6em;
	right: 0;
	bottom: 1em;
	left: 0;
	overflow-y: scroll;
}

/* xs */
@media only screen and (max-width: 600px) {
	#popup {
		left: 0%;
		right: 0%;
		top: 0%;
		bottom: 0%;
	}
}

/* sm */
@media only screen and (min-width:600px) {
	#popup {
		left: 0%;
		right: 0%;
		top: 0%;
		bottom: 0%;
	}
}

/* md */
@media only screen and (min-width: 960px) {
	#popup {
		left: 0%;
		right: 0%;
		top: 16.667%;
		bottom: 16.667%;
	}
}

/* lg */
@media only screen and (min-width: 1280px) {
	#popup {
		left: 16.6667%;
		right: 16.6667%;
		top: 16.6667%;
		bottom: 16.6667%;
	}
}

/* lg */
@media only screen and (min-width: 1920px) {
	#popup {
		left: 20%;
		right: 20%;
		top: 20%;
		bottom: 20%;
	}
}

.button {
	display: inline-block;
	border-radius: 0.3em;
	background-color: #f4511e;
	border: none;
	color: #FFFFFF;
	text-align: center;
	padding: 0.5em 1em;
	margin: 0;
	transition: all 0.5s;
	cursor: pointer;
}

.button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button span:after {
	content: '\00bb';  /* CSS Entities. To use HTML Entities, use &#8594;*/
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.button:hover span {
	padding-right: 25px;
}

.button:hover span:after {
	opacity: 1;
	right: 0;
}

table {
	width: 100%;
}

td.speed, td.size {
	width: 7em;
}

td.icon {
	width: 3em;
}

td.progress {
	width: 33%;
	padding-right: 1em;
}

td.progress progress {
	width: 100%;
}