#titles > li {
	float: left;
	width: 10%;
	padding-top: 10%;
	position: relative;
}

#titles > li > div {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border: 1px solid #000;
}