#titles md-grid-tile {
	background-size: cover;
}

#titles md-grid-tile md-icon {
  padding-bottom: 32px; }

#titles md-grid-tile md-grid-tile-footer {
  background: rgba(0, 0, 0, 0.68);
  height: 36px; }

#titles md-grid-tile-footer figcaption {
  width: 100%; }

#titles md-grid-tile-footer figcaption h3 {
  margin: 0;
  font-weight: 700;
  width: 100%;
  text-align: center; }