#logo {
	height: 2em;
	display: inline-block;
	padding: 1em;
}

.gear {
	background: url(/images/gear.png);
	background-size: cover;
	height: 2em;
	width: 2em;
	text-indent: -9999px;
	display: inline-block;
	border: 0;
	position: relative;
	top: 0.25em;
	margin-right: 1em;
}

.queue {
	background: url(/images/queue.png);
	background-size: cover;
	height: 2em;
	width: 2em;
	text-indent: -9999px;
	display: inline-block;
	border: 0;
	position: relative;
	top: 0.25em;
	margin-right: 1em;
}

#titles header {
}

.right {
	float: right;
}

#search {
	position: relative;
	top: 0.25em;
	font-size: 1.25em;
	margin-right: 1em;
}

#logo img {
	height: 100%;
}

#titles md-grid-tile {
	background-size: cover;
}

	#titles md-grid-tile md-icon {
		padding-bottom: 32px;
	}

	#titles md-grid-tile md-grid-tile-footer {
		background: rgba(0, 0, 0, 0.68);
		height: 36px;
	}

#titles md-grid-tile-footer figcaption {
	width: 100%;
}

	#titles md-grid-tile-footer figcaption h3 {
		margin: 0;
		font-weight: 700;
		width: 100%;
		text-align: center;
	}

#regions {
	display: inline-block;
}

#regions > li {
	display: inline-block;
	margin: 0;
	padding: 1em 1em 1em 0;
}


#regions input {
	display: none;
}

#regions label {
	display: block;
	width: 2em;
	height: 2em;
	background-size: cover;
}

#regions .US label {
	background-image: url(/images/flags/US.png);
	text-indent: -9999px;
}

#regions .GB label {
	background-image: url(/images/flags/GB.png);
	text-indent: -9999px;
}

#regions .JP label {
	background-image: url(/images/flags/JP.png);
	text-indent: -9999px;
}

#regions input[type=checkbox]:checked + label {
	webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

#popup {
	display: none;
	background: #fff;
	position: fixed;
	left: 16%;
	right: 16%;
	top: 16%;
	bottom: 16%;
	overflow: hidden;
}

#popup #close {
	position: absolute;
	top: 0;
	right: 0;
	height: 2em;
	width: 2em;
	background: url(/images/close.png);
	background-size: cover;
	border: 0;
	text-indent: -9999px;
	margin: 0.5em;
}

#popup > div {
	background-size: cover;
	height: 100%;
}

#popup h3 {
	width: auto;
	position: absolute;
	left: 0;
	top: 0;
	margin: 0 0 0 -1em;
	padding: 1em 1em 1em 2em;
	-webkit-transform: skew(-20deg);
	-moz-transform: skew(-20deg);
	-o-transform: skew(-20deg);
	background: rgba(0, 0, 0, 0.7);
	color: #fff;
	font-weight: bold;
	font-size: 1.4em;
}

#popup .controls {
	position: absolute;
	bottom: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	padding: 1em;
}

#popup .controls button {
	font-size: 2em;
}

/* xs */
@media only screen and (max-width: 600px) {
	#popup {
		left: 0%;
		right: 0%;
		top: 0%;
		bottom: 0%;
	}
}

/* sm */
@media only screen and (min-width:600px) {
	#popup {
		left: 0%;
		right: 0%;
		top: 0%;
		bottom: 0%;
	}
}

/* md */
@media only screen and (min-width: 960px) {
	#popup {
		left: 0%;
		right: 0%;
		top: 16.667%;
		bottom: 16.667%;
	}
}

/* lg */
@media only screen and (min-width: 1280px) {
	#popup {
		left: 16.6667%;
		right: 16.6667%;
		top: 16.6667%;
		bottom: 16.6667%;
	}
}

/* lg */
@media only screen and (min-width: 1920px) {
	#popup {
		left: 20%;
		right: 20%;
		top: 20%;
		bottom: 20%;
	}
}

.button {
	display: inline-block;
	border-radius: 4px;
	background-color: #f4511e;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 28px;
	padding: 20px;
	width: 200px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
}

.button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button span:after {
	content: '\00bb';  /* CSS Entities. To use HTML Entities, use &#8594;*/
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.button:hover span {
	padding-right: 25px;
}

.button:hover span:after {
	opacity: 1;
	right: 0;
}