name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  # This workflow contains a single job called "build"
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: [3.7, 3.8]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        if ["$RUNNER_OS" == "Linux"]; then
          sudo apt install libcurl4-openssl-dev libssl-dev libcurl-devel
        fi
        pip3 install --upgrade pip
        pip3 install -r requirements.txt
        pip3 install -r requirements_dev.txt
    - name: Tests and coverage
      run: |
        coverage run -m pytest -s
    - name: Lint
      run: |
        invoke lint
    - name: Coveralls report
      run: |
        coveralls
